h1, h2 {
  font-family: "Ubuntu", sans-serif;
}

input, select, option, label, #current-budget, #recent-transactions-container {
  font-family: "Open Sans", sans-serif;
}

input {
  margin: 10px;
}

#welcome-container, #start-title-container,
#current-budget-headline, #recent-transactions-container,
#current-display-container {
  display: flex;
  justify-content: center;
}

#start-input-container {
  height: 400px;
  width: 100%;
  margin: 10px;
}

#expense-container{
  display: none;
  background-color: white;
  width: 80%;
  height: 350px;
  margin: 50px auto;
  border: solid;
  border-radius: 5px;
  border-color: #A4D555;
  border-width: 5px;
  max-width: 80%;
  min-width: 275px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#expense-error-message {
  display: none;
}

#expense-input-container {
  display: flex;
  flex-direction: column;
}

#expense-input-container > input {
  height: 50px;
  width: 200px;
  border: solid 1px #dadada;
  margin: 10px;
}

#expense-input-container > select {
  height: 50px;
  width: 200px;
  margin: 10px;
}

#add-expense-button {
  margin: 10px;
  background-color: #A4D555;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}

#budget-bar-container{
  height: 100px;
  display: flex;
  flex-direction: row;
  margin: 50px 10%;
}
#entertainment-bar {
  border: solid 5px #4CDEF5;
  height: 100px;
}

#food-bar {
  border: solid 5px #A4D555;
  height: 100px;
  background-color: white;
}

#clothing-bar {
  border: solid 5px #841983;
  height: 100px;
}

#bills-bar{
  border: solid 5px #FF5992;
  height: 100px;
}

#entertainment-bar-progress {
  background-color: #4CDEF5;
  height: 100px;
}

#food-bar-progress {
  background-color: #A4D555;
  height: 100px;
}

#clothing-bar-progress {
  background-color: #841983;
  height: 100px;
}

#bills-bar-progress {
  background-color: #FF5992;
  height: 100px;
}
